.main {
  margin: 0 auto;
  padding: 0 10% 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main__text {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

.main__text p {
  font-size: 16px;
  line-height: 1.5;
}

.main__text hr {
  width: 20%;
}

.main__text h1 {
  font-size: 16px;
  font-weight: bold;
}

.main__text h1 a {
  text-decoration: none;
  color: inherit;
}

.main__text h1:hover {
  cursor: pointer;
  opacity: 0.5;
}

.grid {
  margin: 0 auto;
  padding: 0;
  display: grid;
  gap: 10px;
  grid-template-rows: repeat(6, 90px);
  grid-template-columns: repeat(6, 90px);
  list-style-type: none;
}

.grid-cell:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 838px) {
  .grid {
    gap: 7px;
  }
}

@media screen and (max-width: 720px) {
  .main {
    padding: 0 5% 3%;
  }

  .main__text p {
    font-size: 14px;
  }
}

@media screen and (max-width: 646px) {
  .main {
    padding: 0 5% 3%;
  }

  .grid {
    grid-template-rows: repeat(6, 70px);
    grid-template-columns: repeat(6, 70px);
  }

  .main__text p {
    font-size: 12px;
  }

  .main__text h1 {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .grid {
    grid-template-rows: repeat(6, 60px);
    grid-template-columns: repeat(6, 60px);
  }
}

@media screen and (max-width: 415px) {
  .grid {
    grid-template-rows: repeat(9, 60px);
    grid-template-columns: repeat(4, 60px);
    gap: 5px;
  }
}
