.main {
  margin: 0 auto;
  padding: 0 10% 3%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 120px;
  align-items: center;
  justify-content: space-between;
}

.main__text {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

.main__text p {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.main__text hr {
  width: 20%
}

.main__text h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.main__text h1:hover {
  cursor: pointer;
  opacity: 0.5;

}

.wrapper {
  margin: 0 auto;
  padding: 0;
  display: grid;
  gap: 10px;
  grid-template-rows: repeat(6, 100px);
  grid-template-columns: repeat(6, 100px);
  list-style-type: none;
}

.wrapper-cell:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 838px) {
  .wrapper {
    grid-template-rows: repeat(6, 90px);
    grid-template-columns: repeat(6, 90px);
    gap: 7px;
  }
}

@media screen and (max-width: 720px) {
  .main {
    padding: 0 5% 3%;
  }

  .main__text p {
    font-size: 14px;
  }
}

@media screen and (max-width: 646px) {
  .main {
    padding: 0 5% 3%;
  }

  .wrapper {
    grid-template-rows: repeat(9, 70px);
    grid-template-columns: repeat(4, 70px);
  }

  .main__text p {
    font-size: 12px;
  }
}

@media screen and (max-width: 350px) {
  .wrapper {
    grid-template-rows: repeat(9, 60px);
    grid-template-columns: repeat(4, 60px);
    gap: 5px;
  }
}
