.popup {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 7;
}

.popup_is-open {
  visibility: visible;
  opacity: 1;
}

.popup__form {
  display: flex;
  position: relative;
  background-color: rgb(248, 222, 222);
  padding: 10px;
  margin: 0 auto;
  min-height: 200px;
  box-sizing: border-box;
  max-width: 750px;
}

.popup__form2 {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
  min-height: 200px;
  box-sizing: border-box;
  border: 1px solid rgb(233, 2, 2);
}

.popup__close-btn {
  position: absolute;
  top: 25px;
  right: 25px;
  background-color: transparent;
  background-image: url(../images/close_icon.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  padding: 0;
  min-height: 30px;
  width: 30px;
  cursor: pointer;
  outline: none;
  z-index: 8;
}

.popup__header {
  font-family: "Playfair Display", serif;
  position: relative;
  font-style: normal;
  font-size: 20px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
}

.popup__header_red {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  color: red;
  font-size: 40px;
  line-height: 1;
}

.popup__text-content_main {
  display: flex;
  position: relative;
  flex-direction: row;
  align-content: flex-start;
}

.popup__description {
  font-family: "Source Serif Pro", serif;
  font-weight: normal;
  width: 80%;
  position: relative;
  font-size: 18px;
  line-height: 1.2;
  color: #000000;
  margin: 0 0 10px 5px;
  text-align: left;
}

.popup__logo {
  display: inline-block;
  background-image: url(../images/heart_logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  min-height: 12px;
  margin-left: 3px;
}

.popup__description p {
  margin: 0;
}

.popup__img_container {
  width: 30%;
  padding-left: 30px;
  text-align: left;
}

.popup__img {
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 200px;
}

.popup__link {
  font-family: "Source Serif Pro", serif;
  font-weight: bolder;
  text-decoration: none;
  font-style: italic;
  color: red;
}

.popup__text-content_header {
  text-align: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 930px) {
  .popup__form {
    max-width: 80%;
  }
}

@media screen and (max-width: 760px) {
  .popup__form {
    max-width: 80%;
  }

  .popup__close-btn {
    min-height: 25px;
    width: 25px;
    top: -29px;
    right: -29px;

  }

  .popup__text-content_header {
    margin-bottom: 30px;
  }

  .popup__header {
    font-size: 16px;
  }

  .popup__header_red {
    font-size: 30px;
  }

  .popup__description {
    font-size: 14px;
  }

  .popup__img_container {
    width: 30%;
    padding-left: 20px;
    text-align: left;
  }

  .popup__img {
    min-height: 150px;
  }

  .popup__link {
    margin: 0;
    font-size: 14px;
  }
}

@media screen and (max-width: 591px) {
  .popup__close-btn {
    top: 20px;
    right: 20px;
    min-height: 15px;
    width: 15px;
  }
}

@media screen and (max-width: 555px) {
  .popup__img {
    min-height: 100px;
  }
}

@media screen and (max-width: 500px) {
  .popup__header {
    font-size: 16px;
  }

  .popup__header_red {
    font-size: 25px;
  }
}

@media screen and (max-width: 440px) {
  .popup__description {
    font-size: 12px;
  }

  .popup__link {
    font-size: 12px;
  }

  .popup__img {
    min-height: 70px;
  }
}

@media screen and (max-width: 350px) {
  .popup__form2 {
    max-width: 100%;
  }
}
