.app {
  text-align: center;
}

.main{
  margin: 0 auto;
  padding:5% 15%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: 120px;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  margin: 0 auto;
  display: grid;
  gap: 10px;
  grid-template-rows:  repeat(5, 100px);
  grid-template-columns: repeat(5, 100px);

}

.wrapper-cell{
  background: linear-gradient(to top left, #ff6600, #830404);
}

.wrapper-cell:hover{
  opacity: 0.8;
}